<script defer src="{{PREFIX}}js/config.js"></script>
<script defer src="{{PREFIX}}js/i18n/dict.js"></script>
<script defer src="{{PREFIX}}js/modules/i18n.js"></script>
<script defer src="{{PREFIX}}js/modules/whatsapp-fab.js"></script>
<script defer src="{{PREFIX}}js/modules/reveal.js"></script>
<script defer src="{{PREFIX}}js/modules/nav.js"></script>
<script defer src="{{PREFIX}}js/modules/carousel.js"></script>
<script defer src="{{PREFIX}}js/modules/menu-tabs.js"></script>
<script defer src="{{PREFIX}}js/modules/gallery.js"></script>
<script defer src="{{PREFIX}}js/modules/animations.js"></script>
<script defer src="{{PREFIX}}js/modules/contact-form.js"></script>
<script defer src="{{PREFIX}}js/main.js"></script>
